<!DOCTYPE html>

<html>
	<head>
		<title>Signup</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
	</head>

	<body>
		<div class="nav">
      		<div class="container">
        		<ul class="control">
          			<li><a href="/login">Login</a></li>
        		</ul>
        
      		</div>
    	</div>
		<h1>Sign Up</h1>

		<form method="post">
			<div>
				<label>Username</label>
				<input type="text" name="username" value="{{username}}">
				<label class=error>{{error_username}}</label>
			</div>

			<div>
				<label>Password</label>
				<input type="password" name="password" value="{{password}}">
				<label class=error>{{error_password}}</label>
			</div>
			
			<div>
				<label>Verify Password</label>
				<input type="password" name="verify" value="{{verifypw}}">
				<label class=error>{{error_verifypw}}</label>
			</div>

			<div>
				<label>Email(optional)</label>
				<input type="text" name="email" value="{{email}}">
				<label class=error>{{error_email}}</label>
			</div>
			<br>
			<input type="submit" value="submit">

		</form>
	</body>


</html>